env
frontend/.env
backend/backend/__pycache__/settings.cpython-311.pyc
backend/backend/__pycache__/urls.cpython-311.pyc
backend/reviews/__pycache__/models.cpython-311.pyc
backend/reviews/__pycache__/serializers.cpython-311.pyc
backend/reviews/__pycache__/views.cpython-311.pyc
